<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb6097">  <td>18/09/27 17:24:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GmailAutomate.Startup()[pri:0, instance:TestNG.GmailAutomate@4d5b6aac]">&gt;&gt;Startup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1727361096</td>   <td></td> </tr>
<tr bgcolor="fb6097">  <td>18/09/27 17:24:48</td>   <td>3264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GmailAutomate.gmailLogin()[pri:0, instance:TestNG.GmailAutomate@4d5b6aac]">gmailLogin</td> 
  <td>main@1727361096</td>   <td></td> </tr>
</table>
